* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

:root {
  --purple: #1d2039;
  --light-purple: #242947;
  --lighter-purple: #797e9a;
  --green: #66a663;
  --white: #fff;
  --orange: #dbac36;
}
#loginWrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(159, 159, 184, 0.26934523809523814) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
#loginWrapper form {
  width: calc(3.1vw + 280px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#loginWrapper form h3 {
  font-size: calc(0.5vw + 23.3px);
}
#loginWrapper form input {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  border-radius: 4px;
  background-color: var(--light-purple);
  outline: none; /*рамка при нажатии*/
}
body {
  background-color: var(--purple);
  padding: 20px 30px;
}

.rounded {
  background-color: var(--light-purple);
  border-radius: 20px;
  padding: calc(1.6vw + 10px);
  margin-bottom: calc(1vw + 6.7px);
}

.logo {
  width: calc(3.1vw + 40px);
  height: calc(3.1vw + 40px);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px 20px;
  flex-wrap: wrap;
}
h1 {
  font-weight: 750;

  font-size: calc(1.1vw + 21.3px);
}
header span {
  font-size: 18px;
  text-align: center;
}
.main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.gameSetting {
  flex-basis: 500px;
  flex-grow: 1;
}
.gameArea {
  flex-grow: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field {
  width: calc(1vw + 17px);
  height: calc(1vw + 17px);
  border-radius: 4px;
  background-color: var(--purple);
  cursor: pointer;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.field.active {
  background-color: var(--lighter-purple);
}
.field.flag {
  background-image: url(./img/flag-in-hole.png);
  background-color: var(--green);
  background-size: contain; /*не обрезает картинку, а просто растягивает, а cover - обрежет изображение если но не помещается в элемент*/
}
.gameField {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: calc(0.3vw + 1px);
}
.gameSetting h2 {
  font-size: calc(0.8vw + 15.3px);
  text-align: center;
  margin-bottom: calc(1.7vw + 8.6px);
}
.score {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  margin-bottom: 20px;
}
.point {
  flex-basis: 150px;
  background-color: var(--purple);
  padding: calc(0.9vw + 4px) 20px;
  flex-grow: 1;
  text-align: center;
  border-radius: 28px;
  cursor: pointer;
  font-size: calc(0.6vw + 16px);
}
.point.active {
  background-color: var(--orange);
}
#gameBTN {
  width: 100%;
  padding: calc(0.5vw + 6.33px);
  background-color: var(--green);
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: calc(0.4vw + 18.6px);
}

.field.bomb{
    background-image: url(./img/bomb.png);
    background-color: #66a663;
    background-position: center;
    background-size: calc(1vw + 16.7px);
}

